<div class="container flex-column">
  <div class="d-flex flex-row">
    <div class="content-item width-50 bordered">
      <app-color-picker
      (outColor)="getColor($event)"
      ></app-color-picker>
    </div>
    <ng-container class="content-item width-50" *ngIf="isShowing">
      <app-size-setting 
      [size]="fontSizeDefault"
      (outSize)="getSize($event)"
      ></app-size-setting>
      <app-reset (resetDefault)="getDefault($event)"></app-reset>
    </ng-container>
    <button (click)="toggleShowSetting()"><b> ẨN/HIỆN</b></button>
  </div>
  <div class="content-result">
    <!--truyen @input-->
      <app-result [color]="colorDefault"
       [size]="fontSizeDefault"
       ></app-result>
    </div>
</div>

<router-outlet></router-outlet>